<nav class="flex items-center justify-center py-4">
    <div class="space-x-4 text-xl font-semibold text-gray-500">
      <a href="/" class="border-purple-600 px-3 py-2 transition-all duration-100 hover:border-b-4 hover:text-purple-600">Home</a>
      <a href="/diabetes" class="border-purple-600 px-3 py-2 transition-all duration-100 hover:border-b-4 hover:text-purple-600">Diabetes</a>
      <a href="/lungcancer" class="border-purple-600 px-3 py-2 transition-all duration-100 hover:border-b-4 hover:text-purple-600">Lung Cancer</a>
      <a href="#" class="border-purple-600 px-3 py-2 transition-all duration-100 hover:border-b-4 hover:text-purple-600">Brain Tumor</a>
    </div>
  </nav>
  